.Cabeçalho{
    display: flex;
        align-items: center;
    justify-content: space-between;
  }  
  .Cab{
    display: flex;
        align-items: center;

  }
  .galeria{
    width: 50%;
  }
body{
  background-color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.traco{
border-top: solid black 1px; 
display: flex; 
justify-content: center; 
align-items: center; gap: 20px;
}

.logo{
  width: 7%;
  height: 7%;
}

.bot{
      background-color: rgb(255, 255, 131);
    border-radius: 18px;
    background-color: rgb(255, 255, 131); 
    border-radius: 18px; 
    padding: 8px 20px; 
    margin: 0;
}