.identificacao{
color: rgb(255, 216, 228);
}

.galeria{
    width: 50%;
}

body{
    background-color: rgb(255, 236, 235);
    color: rgb(255, 149, 149);
display: flex;
align-items: center;
justify-content: space-around;
}