.identificacao{
color: rgb(255, 216, 228);
}

.galeria{
    width: 50%;
}

body{
    background-color: rgb(255, 236, 235);
    color: rgb(255, 149, 149);
display: flex;
align-items: center;
justify-content: space-around;
}

.links{
    display:flex;
    flex-direction: column;
}

a{
    margin: 20px;
    padding: 20px;
    background-color: hotpink;
    color: black;
    border-radius: 20px;
}